body {
  background-image: url("images/pagebackgroundimage.jpg");
  background-size: cover;
}

.twitterPost {
  margin: 0 auto;
}

div {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.title{
  margin-top: 12%;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}

.media{
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}


button {
  padding: 1%;
  font-weight: bold;
  background-color: #E8DCB8;
}

button:hover {
  background-color: #EFDC75;
}

@media screen and (max-width: 800px) {
  html{
    font-size:10vw;
  }
}


