body {
  background-image: url("images/pagebackgroundimage.jpg");
  background-size: cover;
}

.twitterPost {
  margin: 0 auto;
}

div {
  margin: 0 auto;
  text-align: center;
}

.title{
  margin-top: 10%
   font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}


