body {
  background-image: url("images/pagebackgroundimage.jpg");
  background-size: cover;
}

.twitterPost {
  margin: 0 auto;
}

div {
  margin: 0 auto;
  text-align: center;
}

.title{
  margin-top: 12%;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}

button {
  padding: 5%;
  font-weight: bold
  background-color: #FFFDD0;
}

button:hover {
  background-color: #EFDC75;
}


